# Code owners for Soulbound.
# Owners listed here are automatically requested for review on pull requests
# that change matching files.
# See https://docs.github.com/articles/about-code-owners for the format.

# Default owner for everything in the repository.
* @Stiven-Gjekaj
